<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>2.0</jsp-version>
    <short-name>Example TLD</short-name>
    <tag>
        <name>myOut</name>
        <tag-class>tag.MyTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>myMap</name>
            <required>true</required>
            <type>java.util.HashMap</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>